# Node.js
node_modules/
dist/
.env

# Vite/React build
frontend/dist/

# TypeScript
*.tsbuildinfo

# Logs
*.log

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json